<div class="footer-new">

    <footer class="d-flex flex-row justify-content-between">

        <div class="footer-list">
            <p>HỆ THỐNG CỬA HÀNG HADES</p>
            <div class="mt">
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i> <span>Hades FLAGSHIP STORE: 69 QUANG TRUNG, GÒ VẤP</span>
            </div>
            <div>
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i> <span>Store 2: 26 LÝ TỰ TRỌNG Q.1 ( THE NEW PLAYROUND)</span>
            </div>
            <div>
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i>
                <span>Store 3: 350 ĐIỆN BIÊN PHỦ F17 Q. BÌNH THẠNH (G-TOWN)</span>
            </div>
            <div>
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i>
                <span>Store 4: 4 PHẠM NGŨ LÃO, Q.1</span>
            </div>
            <div>
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i>

                <span>Store 5: 136 NGUYỄN HỒNG ĐÀO, Q.TÂN BÌNH</span>
            </div>
            <div>
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i>
                <span>Store 6: 235 PHAN TRUNG, TP.BIÊN HÒA</span>
            </div>
            <div>
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i>
                <span>Store 7: 15 NGUYỄN VIỆT HỒNG, Q.NINH KIỀU, TP. CẦN THƠ</span>
            </div>
            <div>
                <i style="font-size: 20px;" class="fa fa-map-marker me-1" aria-hidden="true"></i>
                <span>Store 8: Tầng 7 - tòa B2 - VINCOM BÀ TRIỆU, HÀ NỘI</span>
            </div>

        </div>
        <div class="footer-list" style="width: 25%;padding-left: 30px;">
            <p class="ms-3">CHÍNH SÁCH</p>
            <div class="mt" style="line-height: 2;font-size: 1rem;">
                <div>
                    <a href="">- Chính sách sử dụng website</a>
                </div>
                <div>
                    <a href="">- Phương thức thanh toán</a>
                </div>
                <div>
                    <a href="">- Chính sách đổi trả</a>
                </div>
                <div>
                    <a href="">- chính sách giao nhận - vận chuyển</a>
                </div>
                <div>
                    <a href="">- Điều khoản dịch vụ</a>
                </div>
                <div>
                    <a href="">- Hướng dẫn mua hàng</a>
                </div>
                <div>
                    <a href="">- Chính sách bảo mật</a>
                </div>
            </div>
        </div>
        <div class="footer-list">
            <p class="ms-3">THÔNG TIN LIÊN HỆ</p>
            <div class="mt">
                <div>
                    <span>- CÔNG TY TNHH HADES Địa chỉ: 45 Phan Chu Trinh, P. Bến Thành, Quận 1, TP. Hồ
                                Chí
                                Minh</span>
                </div>
                <div>
                    <span>- SỐ GCNĐKDN: 0316393653</span>
                </div>
                <div>
                    <span>- Ngày cấp: 20/07/2020</span>
                </div>
                <div>
                    <span>- Tuyển dụng: hr@hades.vn</span>
                </div>
                <div>
                    <span>- Website: hades.vn</span>
                </div>
                <div>
                    <span>- Liên hệ CSKH: support@hades.vn</span>
                </div>
                <div>
                    <span>- For business: contact@hades.vn</span>
                </div>
            </div>
        </div>

    </footer>
    <div class="row row -col-3 mt-4">

        <div class="col">
            <img style="width: 160px;height: 60px;" src="../../assets/img/bocongthuong.png" alt="">
        </div>
        <div class="col" style="padding-left: 90px;">
            <img style="width: 160px;height: 60px;" src="../../assets/img/dadangky.png" alt="">
        </div>


        <div class="col">
            <p>FOLLOW US ON SOCIAL MEDIA</p>
            <p>
                <i style="font-size: 40px;" class="fa fa-instagram me-5" aria-hidden="true"></i>
                <i style="font-size: 40px;" class="fa fa-facebook-square me-5" aria-hidden="true"></i>
                <i style="font-size: 40px;" class="fa fa-twitter-square" aria-hidden="true"></i>
            </p>
        </div>
    </div>
</div>