<aside>
  <div class="contentintro">
    <h3 id="headintroduce">Hades - Một Trong Những "Phát Súng Đầu Tiên" của Vietnamese</h3>
    <div>
      <img style="width: 100%;" src="assets/img/dong ho new'.jpg" alt="">
    </div>
    <p class="mt-4 fw-bold">Ra đời từ những năm cuối thế kỷ 20, Hades là phong cách thời trang phổ biến của cộng đồng.</p>
    <p class="mt-3">
      <span>Dù mới “bén duyên” với giới trẻ Việt 5 năm trở lại đây nhưng hàng loạt thương hiệu thời trang nội địa đi theo phong cách này đã xuất hiện. Trong số đó phải kể đến Hades - cái tên được nhắc “liên tục” bởi giới trẻ từ Bắc vào Nam.</span>

      <strong> HADES góp phần thay đổi phong cách giới trẻ bằng xu thế thời trang mới. </strong>
      <span>
                                Thế hệ trẻ hiện nay được coi là “thế hệ không biên giới” với sự tự tin ngập tràn, năng lượng sống tích cực cùng khả năng sáng tạo vô bờ bến. Sự phát triển
                                của công nghệ, của mạng xã hội giúp họ có nhiều “đất” hơn để thể hiện cá tính và cái tôi riêng của bản thân. Một trong những cách thể hiện bản thân đơn giản nhất chính là sử dụng ngôn ngữ thời trang.
                            </span>
    </p>
    <div style="text-align: center;" class="mt-5">
      <img style="width: 60%;" src="assets/img/anhdh 2.jpg" alt="">
    </div>
    <p class="mt-5">Là một trong những “phát súng” đầu tiên khơi mào trào lưu thời trang tại Việt Nam, Hades chính thức mở cửa vào năm 2016. Trải qua gần nửa thập kỷ hoạt động, thương hiệu này đã trở thành cái tên “sừng sỏ” trên bản đồ thời trang
      đường phố tại Việt Nam với hệ thống gồm 1 Flagship Store tại trung tâm Sài Gòn cùng 7 chi nhánh tại các thành phố lớn: Cần Thơ, Đồng Nai, Hà Nội. </p>
    <p class="fw-bold">Sáng tạo không ngừng nghỉ là cách HADES “mê hoặc” giới trẻ.</p>
    <p>Mặc dù đã đồng hành cùng giới trẻ Việt được 6 năm nhưng chưa bao giờ Hades đánh mất đi độ hot của mình. Chìa khoá giúp Hades len lỏi vào mọi ngóc ngách của ngành thời trang streetwear chính là “sự sáng tạo” liên tục trong mẫu mã
      sản phẩm. Không quá khi nói rằng đội ngũ thiết kế của Hades là những con người có khả năng “đẻ không biết mệt” khi liên tục cho ra mắt hàng loạt những bộ sưu tập chất lượng với nhiều concept khác nhau. Điểm chung của tất cả
      các bộ sưu tập chính là sự thoải mái, tính ứng dụng cao và sự nổi bật trong cách kết hợp màu sắc.</p>
    <div style="text-align: center;" class="mt-5">
      <img style="width: 60%;" src="assets/img/dong-ho-nam-elleman-5.jpg" alt="">
    </div>
    <p class="mt-4">Với các sản phẩm có thiết kế độc đáo, chất lượng cao cùng giá thành hợp lý, chắc chắn cái tên Hades sẽ còn lớn mạnh hơn, khẳng định được chỗ đứng của mình trong lòng giới trẻ đam mê Streetwear tại Việt Nam cũng như các quốc gia
      trong khu vực.</p>
  </div>


</aside>
