<main>
  <header><app-header></app-header></header>
  <div class="wapper">
    <nav>

      <ul>
        <li><a href="">SHOP ALL</a></li>
        <li><a href="gioithieu">INTRODUCE</a></li>
        <li><a href="#">BOTTOMS</a></li>
        <li><a href="#">OUTERWEAR</a></li>
        <li><a href="#">FOOTERWEAR</a></li>
        <li><a href="#">HAT</a></li>
        <li><a href="#">BAGS</a></li>
        <li><a href="#">SALE</a></li>
        <li><a href="#">INSTAGRAM</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <footer-page></footer-page>

</main>


