<aside>
    <div class="container">
        <!-- slideimage -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/donghoslide1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/donghoslide2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/donghoslide3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
        <!-- end slide -->




        <!-- header -->
        <div class="title-top mt-5">
            <p>New Arrivals</p>
            <a href="#">Xem Thêm</a>
        </div>
        <div class="product">
            <div class="product-block">
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product1.png" alt=""></a>
                    <a href="">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list mr ">
                    <a routerLink="prd"><img src="assets/img/product2.png" alt=""></a>
                    <a href="">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product3.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list">
                    <a routerLink="prd"><img src="assets/img/product5.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
            </div>
            <div class="product-block">
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product4.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product5.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product6.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list">
                    <a routerLink="prd"><img src="assets/img/product7.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
            </div>
            <div class="product-block">
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product8.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product9.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list mr">
                    <a routerLink="prd"><img src="assets/img/product10.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
                <div class="product-list">
                    <a routerLink="prd"><img src="assets/img/product11.png" alt=""></a>
                    <a routerLink="prd">HADES NEW BALANCE TROUSER PANTS</a>
                    <div class="button-add">
                        <button type="submit" class="action">Mua ngay</button>
                        <button type="submit" class="action add-to-cart">Thêm vào giỏ</button>
                    </div>
                    <p>450,000₫</p>
                </div>
            </div>


        </div>
        <div class="title-top">
            <p>Top 10</p>
            <a href="#">Xem Thêm</a>
        </div>


        <!-- <div class="title-news">
          <p style="text-align:center;font-size: 1.7rem;">The Journal</p>
          <div class="news">
              <div class="news-list">
                  <a href=""><img src="./images/post1.jpg" alt=""></a>
                  <p>Thứ ba 16,3,2021</p>
                  <h5>Hades - Một Trong Những "Phát Súng Đầu Tiên" của Vietnamese Streetwear</h5>
                  <p>Ra đời từ những năm cuối thế kỷ 20, streetwear là phong cách thời trang phổ biến của cộng đồng đam mê bộ môn skateboard.Dù mới “bén duyên” với giới...</p>
                  <a href="#">Xem Thêm</a>
              </div>
              <div class="news-list">
                  <a href=""><img src="./images/post1.jpg" alt=""></a>
                  <p>Thứ ba 16,3,2021</p>
                  <h5>Hades - Một Trong Những "Phát Súng Đầu Tiên" của Vietnamese Streetwear</h5>
                  <p>Ra đời từ những năm cuối thế kỷ 20, streetwear là phong cách thời trang phổ biến của cộng đồng đam mê bộ môn skateboard.Dù mới “bén duyên” với giới...</p>
                  <a href="#">Xem Thêm</a>
              </div>
              <div class="news-list">
                  <a href=""><img src="./images/post1.jpg" alt=""></a>
                  <p>Thứ ba 16,3,2021</p>
                  <h5>Hades - Một Trong Những "Phát Súng Đầu Tiên" của Vietnamese Streetwear</h5>
                  <p>Ra đời từ những năm cuối thế kỷ 20, streetwear là phong cách thời trang phổ biến của cộng đồng đam mê bộ môn skateboard.Dù mới “bén duyên” với giới...</p>
                  <a href="#">Xem Thêm</a>
              </div>
          </div>

      </div> -->

    </div>



</aside>